<div class="gallery">
    {% for episode in site.data.podcast-episodes.episodes %}
    <a href="{{ episode.youtube_url }}" target="_blank" rel="noopener noreferrer">
        <div class="gallery-card">
            <img class="gallery-card-thumbnail" src="{{ episode.thumbnail }}"
                alt="#{{ episode.number }} - {{ episode.title }}">
            <div class="gallery-card-info">
                <h3 class="gallery-card-title">#{{ episode.number }} - {{ episode.title }}</h3>
                <p class="gallery-card-description">{{ episode.description }}</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>