<div class="gallery">
    {% for episode in site.data.podcast-episodes.episodes %}
    <div class="gallery-card">
        <img class="gallery-card-thumbnail" src="{{ episode.thumbnail }}"
            alt="#{{ episode.number }} - {{ episode.title }}">
        <div class="gallery-card-info">
            <a href="{{ episode.youtube_url }}" target="_blank" rel="noopener noreferrer">
                <h3 class="gallery-card-title">#{{ episode.number }} - {{ episode.title }}</h3>
            </a>
            <p class="gallery-card-description">{{ episode.description }}</p>
        </div>
    </div>
    {% endfor %}
</div>